.tab {
  position: sticky;
  top: 0;
  z-index: level('1');
  background-color: $white-color;
}
.tab-list {
  display: flex;
  border-bottom: 1px solid #f3f3f3;
  &__item {
    position: relative;
    flex: 1;
    text-align: center;
    &::before {
      @include absolute($right: 0, $bottom: 0, $left: 0);

      content: '';
      height: 2px;
      background-color: $white-color;
      border-radius: 2px;
    }
    &.active {
      &::before {
        background-color: #333;
      }
      button {
        font-weight: bold;
      }
    }
    button {
      display: block;
      width: 100%;
      height: 48px;
      font-size: 1.5rem;
    }
  }
}